.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-card-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;

    .product-info {
        img {
            height: 100%;
            width: auto;
            aspect-ratio: 1 / 1;
        }
    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        * {
            height: 6rem;
        }

        .product-info {
            display: flex;
            gap: 15px;
            flex-direction: row;
        }

        .quantity {
            border: 1px solid #d8d9d9;
            border-radius: 4px;
            text-align: center;
            font-size: 1rem;
            background-color: #f1f1f1;
            color: #333;
        }

        button {
            margin: 0px 10px;
            height: 2rem;
            width: 2rem;
        }

        .inc-btns {
            border: none;
            background-color: #2563eb;
            box-shadow: 0 2px 4px rgba(37, 99, 235, 0.2);
            color: white;
            border-radius: 6px;
            text-decoration: none;
        }


    }
}



// .cart-container {
//     background-color: #f8f9fa;
//     .cart-card-wrapper{
//         background-color: white;
//         box-shadow: grey;
//         .items {
//             .item {
//                 display: flex;
//                 width: 100%;
//                 height: 6rem;

//                 button {
//                     background-color: #2563eb;
//                 }
//             }
//         }
//     }

// }